[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
numpy = "*"
jupyter = "*"
imdbpy = "*"
scikit-learn = "*"
keras = "*"
wget = "*"
pandas = "*"
matplotlib = "*"
gensim = "*"
tmdbsimple = "*"
tensorflow = "*"
nltk = "*"
stop-words = "*"

[requires]
python_version = "3.8"
